@import url(https://fonts.googleapis.com/css?family=Dr+Sugiyama);
@import url(https://fonts.googleapis.com/css?family=Dosis);

body {
	text-align: center;
	background: url("../images/yoga_mat.jpg");
	background-size: cover;
	font-family: Georgia, serif;
	margin-left: 250px;
	margin-right: 250px;
}

h1 {
	color: #431370;
	font-size: 50px;
	font-family: 'Dr Sugiyama', cursive;
}


section {
	color: #FFFFFF;
	padding: 50px;
}

h2 {
	font-family: 'Dosis', sans-serif;
	font-style: italic;
	font-size: 20px;
}

h3 {
	font-size: 30px;
	font-family: 'Dosis', sans-serif;
}

ul {
    list-style-type: none;
    padding: 0;
}

footer {
	display: inline;
	color: #FFFFFF;
}

#contact {
	color: #FFFFFF;
}