body {
	text-align: center;
	background: url("http://demandware.edgesuite.net/sits_pod21/dw/image/v2/AAIZ_PRD/on/demandware.static/-/Sites-gaiam-master-catalog/default/dwe17bffb8/05-0000/05-60526_A.jpg?sw=1340");
	background-size: cover;
	font-family: "Arial", sans serif;
	margin-left: 250px;
	margin-right: 250px;
}

h1 {
	color: #431370;
	font-size: 40px;
	font-family: "Times New Roman", serif;
}

h2 {
	font-size: 20px;
}

div {
	color: #FFFFFF;
	padding: 50px;
}

#sloggan {
	font-style: italic;
	font-size: 20px;
}

ul {
    list-style-type: none;
}

#contact {
	position: fixed;
	text-align: center;
	bottom: 0px;
	width: 100%;
	color: #FFFFFF;
}